<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="UKTalentHubJava" verbose="10">

	<listeners>
		<listener class-name="com.UKTalentHubJava.utilities.Reporting" />
	</listeners>

	<test name="UKTalentHubJava Test">
		<parameter name="browser" value="chrome" />
		<classes>
<!--			<class name="com.UKTalentHubJava.test_cases.TrelloLoginStep" />-->
<!--			<class name="com.UKTalentHubJava.test_cases.testng.unused_tests.TCT01_LoginTest" />-->
<!--			<class name="com.UKTalentHubJava.test_cases.testng.unused_tests.TCT02_LoginDataDrivenTest" />-->
<!--			<class name="com.UKTalentHubJava.test_cases.testng.TCT01_LoginDataDrivenTest"/> -->
			<class name="com.UKTalentHubJava.test_cases.testng.TCT01_InvalidLoginDDT"/>
<!--			<class name="com.UKTalentHubJava.test_cases.testng.TCT02_SqlLoginTest"/>-->
		</classes>

	</test>

</suite>